.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  //color: var(--header-color);

  .logo-container {
    height: 100%;
    width: 70px;
    margin-top: -60px;
  }
  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}

@media (max-width: 650px) {
  .header {
    .logo-container {
      max-height: 50%;
      width: 0px;
    }
    .hide-contact {
      display: none;
    }
  }
}
